{% load account %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSS Feed</title>
</head>
<body>

    <h1>RSS Feed (로그인후)</h1>
    {% for data in data_list %}
        <div>
            <h2>{{ data.title }}</h2>
            <p><strong>Description:</strong> {{ data.description }}</p>
            <p><strong>Link:</strong> <a href="{{ data.link }}" target="_blank">{{ data.link }}</a></p>
            {% if data.enclosure_url %}
                <p><strong>Enclosure URL:</strong> <a href="{{ data.enclosure_url }}" target="_blank">{{ data.enclosure_url }}</a></p>
            {% endif %}
            {% if data.content_encoded %}
                <p><strong>Content:</strong> {{ data.content_encoded|safe }}</p>
            {% endif %}
            <hr>
        </div>
    {% endfor %}
<p><div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://byeolha-html.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>



</body>
</html>
